.cal{
    background-color: blue;
    width: 500px;
}
.main{
    padding: 10px;
    margin: 10px;
}
input{
    font-size: 15px;
    background-color: aliceblue;
}
.CalBody{
    padding-top: 10px;
    padding-left: 5px;
}
button{
    width: 50px;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(132, 104, 233);
    transition: .8s;
}
button:hover{
    background-color: aliceblue;
    color: black;
}